html {
  color: var(--color-white);
  background-color: var(--background);
}

a,
button {
  transition: var(--transition);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;

  &__logo {
    max-width: 300px;
  }

  &__description {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 450px;
  }

  &__waiting-message {
    animation: zoomInOut 5s infinite;

    @include mq($until: tablet) {
      font-size: 1.5em;
    }
  }

  &__share {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  &__title {
    margin-bottom: 50px;
    animation: zoomInOut 5s infinite;

    @include mq($until: tablet) {
      font-size: 1.5em;
    }

    &--wonn {
      color: #1dd761;
    }

    &--lost {
      color: var(--color-alert);
    }
  }
}

.board {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 80px);
  grid-auto-rows: 80px;
  background-color: white;

  @include mq($until: tablet) {
    font-size: 1.5em;
  }

  @include mq($from: desktop) {
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
  }

  @include mq($from: tablet) {
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 150px;
  }

  @include mq($until: tablet) {
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 100px;
  }
}

.square {
  font-size: var(--fs-character-medium);
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: var(--color-o);
  transition: color, background-color 5s;
  cursor: pointer;

  &--highlight {
    background-color: var(--color-o);
    color: var(--color-dark);
  }

  &--x {
    color: var(--color-x);
  }

  &--highlight-x {
    background-color: var(--color-x);
    color: var(--color-dark);
  }

  @include mq($from: tablet) {
    font-size: var(--fs-character);
  }
}

input {
  border-radius: 1.25em;
  color: var(--color-dark);
  padding: 5px 10px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dark);

  &:disabled {
    background-color: var(--color-white);
    border: 1px solid var(--color-dark);
  }
}

button {
  appearance: none;
  border-width: 1px solid var(--color-dark);
  border-style: solid;
  border-radius: 1.25rem;
  cursor: pointer;
  min-height: 2.5rem;
  outline: none;
  padding: .5rem 2.5rem;
  text-align: center;
  position: relative;
  color: var(--color-dark);


  @include mq($until: desktop) {
    padding: .5rem 1.5rem;
  }
}

.button {
  background-color: var(--color-x);
  border-color: var(--color-x);
  border:none;
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    background-color: var(--color-o);
    border-color: var(--color-o);
  }

  &:active {
    top: 1px;
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.2,1.2);
  }
  100% {
    transform: scale(1,1);
  }
}

