<div class="about">
  <h1>Tic Tac Toe</h1>

  <p>You can challenge your friends as you show off your skills in this online version of the classic tabletop game.</p>

  <p>Where will you place your first X or O?</p>

  <p>This project is open source. You can access the repository by clicking <a
    href="https://github.com/bilalucar/tic-tac-toe" target="_blank">this link</a>. You can open it as the issue you see
    missing. If you want, you can support the repo by sending a pull request.</p>
</div>
